{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Coup (The Dystopian Universe)</h1>
    <p> Coup is a board game designed by Rikki Tahta. This is online version of the game for people who
    want to continue playing the game and maintain social distancing during the coronavirus outbreak (2020).
        Please consider buying the game, for example, from <a href="https://www.amazon.com/Indie-Boards-and-Cards-COU1IBC/dp/B00GDI4HX4/ref=sr_1_1?dchild=1&keywords=coup&qid=1586148254&sr=8-1"> Amazon</a>
        or any other official distributer.
    </p>
 <p>You are head of a family in an Italian city-state,
     a city run by a weak and corrupt court. You need to manipulate,
     bluff and bribe your way to power. Your object is to destroy the influence
     of all the other families, forcing them into exile. Only one family will survive…
 </p>
<p>
In Coup, you want to be the last player with influence in the game,
    with influence being represented by face-down character cards in your playing area.
</p>
    <p>
    Each player starts the game with two coins and two influence – i.e., two face-down character cards; the fifteen card deck consists of three copies of five different characters, each with a unique set of powers:
    </p>
    <p>
        <ul>
    <li><strong>Duke</strong> Take three coins from the treasury. Block someone from taking foreign aid.</li>
    <li><strong>Assassin</strong> Pay three coins and try to assassinate another player's character.</li>
    <li><strong>Contessa</strong> Block an assassination attempt against yourself.</li>
    <li><strong>Captain</strong> Take two coins from another player, or block someone from stealing coins from you.</li>
    <li><strong>Ambassador</strong> Draw two character cards from the Court (the deck), choose which (if any) to exchange with your face-down characters, then return two. Block someone from stealing coins from you.</li>
</ul>
    </p>
    <p></p>
    <p>
        On your turn, you can take any of the actions listed above, regardless of which characters you actually have in front of you, or you can take one of three other actions:
<ul>
    <li><strong>Income</strong> Take one coin from the treasury</li>
    <li><strong>Foreign aid</strong>Take two coins from the treasury.</li>
    <li> <strong>Coup</strong> Pay seven coins and launch a coup against an opponent, forcing that player to lose an influence. (If you have ten coins or more, you must take this action.)</li>
</ul>
    </p>
    <p>When you take one of the character actions – whether actively on your turn, or defensively in response to someone else's action – that character's action automatically succeeds unless an opponent challenges you. In this case, if you can't (or don't) reveal the appropriate character, you lose an influence, turning one of your characters face-up. Face-up characters cannot be used, and if both of your characters are face-up, you're out of the game.
    </p>
    <p>
If you do have the character in question and choose to reveal it, the opponent loses an influence, then you shuffle that character into the deck and draw a new one, perhaps getting the same character again and perhaps not.
    </p>
    <p>
The last player to still have influence – that is, a face-down character – wins the game!
    </p>
</div>
{% endblock %}
