<div>
    {% if game.cur_player == user.name %}
    <fieldset>
        <form method="POST">
        {% if user.money > 9 %}
            I coup
            {% for player in game.all_users %}
                {% if ((player.name != user.name) and (player.is_alive)) %}
                    <input type="submit" name="coup" value={{player.name}}>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if user.money > 6 %}
                {% for player in game.all_users %}
                    {% if ((player.name != user.name) and (player.is_alive)) %}
                        <p> I coup <input type="submit" name="coup" value={{player.name}}></p>
                    {% endif %}
                {% endfor %}
            {% endif %}
                <p> I take <input type="submit" name="submit" value="income">  </p>
                <p> I take <input type="submit" name="submit" value="foreign aid">  </p>
                <p> I am a Duke and I take <input type="submit" name="submit" value="taxes"> </p>
                <p> I am a Captain and I steal from
                    {% for player in game.all_users %}
                        {% if ((player.name != user.name) and (player.is_alive)) and (player.money > 1) %}
                            <input type="submit" name="steal" value={{player.name}}>
                        {% endif %}
                    {% endfor %}
                </p>
                {% if user.money > 2 %}
                    <p>
                        I am an Assassin and I assassinate
                        {% for player in game.all_users %}
                            {% if ((player.name != user.name) and (player.is_alive)) %}
                                <input type="submit" name="assassinate" value={{player.name}}>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p> I am <input type="submit" name="submit" value="ambassador"></p>
            {% endif %}
        </form>
    </fieldset>
    {% else %}
        Waiting for action from {{ game.cur_player }}
    {% endif %}
</div>
