<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coup online</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://underscorejs.org/underscore-min.js"></script>
    {% block jsfile %}
    {% endblock %}
</head>
<body>
<div class="topnav">
    <table class="topnav">
        <tr>
            <td colspan="2" style="text-align:left;"><img src="/static/logo2.png" height="100" alt="Coup online"></td>
            <td></td>
        </tr>
        <tr style="background-color: black; text-color: white;">
            <td style="width: 70%"></td>
            <td style="width: 15%"><a href="/"> Main page </a></td>
            <td style="width: 15%"><a href="/"> To be added </a></td>
        </tr>
    </table>
</div>
<p></p>
{% block content %}
{% endblock %}
</body>
</html>
