<div>
    {% set action_type=game.action.action_mapping_to_word(game.action.action) %}
    {% if action_type == 'coup' %}
        {% if user.name == game.action.action_target %}
            You lose one life. Select which one (to be added)
        {% else %}
            Waiting for {{game.action.action_target}} to select which influence to lose.
        {% endif %}
    {% elif game.action == 'income' %}
        <form method="POST">
            <p>  <input type="submit" name="OK_action" value="OK"></p>
        </form>
        <p>Already notified: {% for name in game.action.notified %}
            {{name}} {% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
</div>
