{% extends 'base.html' %}

{% block content %}
<div>
    <h1 align="center">Welcome to the coup online!</h1>
    <p></p>
    <p>No login or registration required, just let us know the size of your party.</p>
    <p></p>
    <span align="center">
    <form action="./create_or_join" method="POST">
    <fieldset>
        {{ form.csrf }}
        <table align="center">
            <tr>
                <td style="text-align:right;">{{form.name.label}}</td>
                <td style="text-align:left;">{{ form.name(class="css_class") }}</td>
            </tr>
            <tr>
                <td style="text-align:right;">{{form.n_players.label}}</td>
                <td style="text-align:left;">
                    {{ form.n_players(class="css_class") }}
                    <input type="submit" name="start" value="create" /></p>
                </td>
            </tr>
            <tr>
                <td colspan="2"> or </td>
            </tr>
            <tr>
                <td style="text-align:right;">{{form.game_id.label}}</td>
                <td style="text-align:left;">
                    {{ form.game_id(class="css_class") }}
                    <input type="submit" name="start" value="join" /></p>
                </td>
            </tr>
        </table>
    </fieldset>
    </form>
    </span>
    <p> *required, you will be referred by that name</p>
By continuing, you accept use of cookies.
</div>
{% endblock %}
