{% extends 'base.html' %}

{% block content %}
Welcome to the coup online! No login or registration required.
<fieldset>
    <form action="./game" method="POST">
        {{ form.csrf }}
        <table>
            <tr>
                <td>{{form.name.label}}</td>
                <td>{{ form.name(class="css_class") }}</td>
            </tr>
            <hr>
            <tr>
                <td>{{form.n_players.label}}</td>
                <td>
                    {{ form.n_players(class="css_class") }}
                    <input type="submit" name="start" value="create" /></p>
                </td>
            </tr>
            <tr>
                <td colspan="2"> or </td>
            </tr>
            <tr>
                <td>{{form.game_id.label}}</td>
                <td>
                    {{ form.game_id(class="css_class") }}
                    <input type="submit" name="start" value="join" /></p>
                </td>
            </tr>
        </table>
         <input type="submit" name="start" value="start" /></p>
    </form>
</fieldset>
{% endblock %}
