{% extends 'base.html' %}

{% block content %}
<div> You are playing under name {{user.name }}</div>
<div>
    <table>
        <tr>
            <th> Current player </th>
            <th> Name </th>
            <th> Coins </th>
            <th> Influence</th>
            <th> Lost influence</th>
        </tr>
        {% for player in game.all_users %}
        <tr>
            <td>{% if player.name == game.cur_player %} plays
                {% elif not player.is_alive %}
                killed
                {% endif %}</td>
            <td>
                {% if player.name == user.name %}
                    you
                {% else %}
                    <span> {{ player.name }}</span>
                {% endif %}
            </td>
            <td> {{player.money}}  </td>
            <td>
                {% if player.name == user.name %}
                    {% for card in user.print_playing_cards() %}
                        {{ card }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    {% for card in user.print_playing_cards() %}
                        unknown{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% for card in user.print_killed() %}
                   {{ card }},
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<p></p>
{% if game.action.action == -1 %}
    {% if game.cur_player == user.name %}
        {% includes 'action.html' %}
    {% else %}
        Waiting for action from {{ game.cur_player }}
    {% endif %}
{% elif game.action.challenged == 0 %}
    <p> {{ game.action.action_to_str }} </p>
    {% set action_type=game.action.action_mapping_to_word(game.action.action) %}
    {% if action_type == 'coup' %}
        {% if user.name == game.action.action_target %}
            You lose one life. Select which one (to be added)
        {% else %}
            Waiting for {{game.action.action_target}} to select which influence to lose.
        {% endif %}
    {% elif game.action == 'income' %}
        <form method="POST">
            <p>  <input type="submit" name="OK_action" value="OK"></p>
        </form>
    <p>Already notified: {% for name in game.action.notified %}
        {{name}} {% if not loop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}

{% endif %}
{% endblock %}
