{% extends 'base.html' %}

{% block jsfile %}
<script src="{{url_for('static', filename='waiting.js')}}"></script>
{% endblock %}

{% block content %}
<div>
    <p>Thanks for joining the game, {{name}}!</p>
    <p> The game id is</p>
    <p align="center"> {{game.id}}</p>
    <p> Please send id to other players, so they can join.</p>
</div>
<div>
    <p> Currently in the game:</p>
    {% for user in game.all_users %}
        {{user.name}} {% if not loop.last %}, {% endif %}
    {% endfor %}
</div>
{% endblock %}
